# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de autenticación
USERNAME=admin
PASSWORD=admin123

# Configuración de la base de datos MySQL
DB_NAME=mi_db
DB_USER=root
DB_PASSWORD=123!
DB_HOST=localhost
DB_PORT=3306

# Configuración de Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Secret
JWT_SECRET=mi_jwt_secret_super_seguro_para_desarrollo_12345

# Configuración de logs
LOG_LEVEL=debug
